name: 'vulnerable-app-db'
services:
  postgres:
    image: postgres:16.4-alpine
    container_name: pgsql
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "${POSTGRES_DATA}:/var/lib/postgresql/data"
    ports:
      - "5439:5432"
